.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    background-color: rgba(17, 21, 28, 0.95);
    color: white;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}